[user]
	email = github@hanki.dev
	name = Hannes Kinnunen
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work
[core]
	autocrlf = input
[push]
	default = current
	autoSetupRemote = true
[init]
	defaultBranch = master
